
{% extends 'base.html' %}
{% block content %}

<body style="background-color:powderblue;">

<div class="container-fluid">

        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="center">
                    <h2 class="card-title">Welcome to M Bank</h2>
                    <p><b>Dear Customer,<br></p><p>

We are very excited and happy to get the opportunity to serve you as one of our respectable customers. We really thank you for choosing us. We can assure you that our all workers are very responsible and committed towards our customers. We also are confident about our good quality service.</p><br>
<a href="/">
    <button>Home</button>
  </a>

                </div>
            </div>

        </div>
    </div>
</div>
</body>

{% endblock %}